<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@400;500&family=El+Messiri:wght@400;500&family=Fugaz+One&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    <title>About us</title>
</head>

<body id="body">
    
    
        <div class="container">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <div class="article">
                    <h2>With over 1000 colours,  there's a perfect colour for every mood, every space and every project.
                    Celebrate your uniqueness with colours that have a special significance. Colour Stylebook helps you mix & match  a perfect colour for every mood, every space and every project.
                     guesswork.We are committed to providing the best products to our customers and have been able to achieve this by incorporating world-class manufacturing practices. We are constantly improving the effectiveness of our quality products by understanding customer requirements and exceeding customer expectations. We assure you that this visit would be a significant and colourful experience.</h2>
                    <button >
                        Show More
                    </button>
                  
                    <script>
                        function toggleText() {
                  
                            
                         var points = 
                                document.getElementById("points");
                  
                            var showMoreText =
                                document.getElementById("moreText");
                  
                            var buttonText =
                                document.getElementById("textButton");
                  
                            
                            if (points.style.display == "none") {
                  
                               
                               
                                showMoreText.style.display = "none";
                  
                                
                                points.style.display = "inline"
                  
                                
                                buttonText.innerHTML = "Show More";
                            }
                  
                            
                            else {
                  
                                
                                showMoreText.style.display = "inline";
                  
                                
                                points.style.display = "none";
                  
                                
                                buttonText.innerHTML = "Show Less";
                            }
                        }
                    </script>
                </div>
                
                <div class="social">
                    <a href="" ><i class="fab fa-facebook-f"></i></a>
                    <a href="" ><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>

            </div>
        </div>



</body>
</html>`