 
 <body>
    <header class="header">

    <div class="logo"> <i class="fas fa-brush"></i> SAARA </div>

    <nav class="navbar">
        <a routerLink="home">Home</a>
        <a routerLink="category">Products</a>
        <a routerLink="example">About</a>
        <a routerLink="contact">Contact us</a>
        
    </nav>

    <div class="icons">
        
        <a href="#" class="logo1"><i class="fas fa-shopping-cart"></i></a>
        <a routerLink="login" class="logo1"> <i class="fas fa-user"></i></a>
  
  
    </div>

    
    </header> 
    
    